html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
.wrapper {
  width: 1024px;
  margin: auto;
  padding:  20px 0px 20px 0px;
}
nav {
  background-color: #222831;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav > .wrapper{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
}
.menu{
  width: 50%;
}
.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: opx;
  justify-content: space-between;
}
.menu > ul > li > a {
  text-decoration: none;
  color: #fff;
  
}
.logo{
  display: flex;
  align-items: center;
}
.logo > img{
  height: 80px;
}
/*
*hero/jumbotron
*/
header {
  background: url('../image/gb\,hder.png');
  height: 100vh;
  background-position: center center;
  background-size:  cover;
  background-repeat: no-repeat;
  position: relative;
}
.header-opacity {
   background-color: #40423f;
   width: 100%;
   height: 100%;
   opacity: 10%;
   position: absolute;
   top: 0;
   left: 0;
}
.header-jumbotron {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.header-jumbotron > h4{
  color: #fff;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
}
.header-jumbotron > h5 {
  color: #fff;
  margin: 5px;
  padding: 5px;
  font-size: 7rch;
  line-height: 3,8rem;
  text-transform: uppercase;
}
.header-jumbotron > p{
  padding: 5px;
  margin: 0px 5px 20px 5px;
   font-size: 3rem;
  color: #f4f7f8;
}
a{
  padding: 7px;
  text-decoration: none;
  color: black;
  text-shadow: none;
}
.button {
  background-color: #ffce10;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button-xl {
  font-size: 2rch;
  padding: 20px;
}
#statistic {
  background-color: #393e46;
  color: #f4f7f8;
}
#statistic > .wrapper {
  padding: 50px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
#statistic > .wrapper > div {
  text-align: center;
}
#statistic > .wrapper > div > p{
  font-size: 4rch;
  margin: 0px;
  padding: 0px;
}
#statistic > .wrapper > div > p > i{
  margin-right: 10px;
  font-size: 4rch;
}
#statistic > .wrapper > div > small {
  font-size: 1,5rch;
}